body {
    background-color: #cfe6d9; /* Light green background like a tennis ball */
    color: #000; /* Black text for contrast */
}

.navbar {
    background-color: #005900; /* Dark green navbar */
    height: 100px; /* Taller header */
}

.navbar-brand, .nav-link {
    color: #fff !important; /* White text for the navbar */
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.opinion-box {
    background-color: #ffff99; /* Subdued yellow */
    border: 2px solid #000; /* Black border */
    margin: 10px 0; /* Margin for spacing */
    padding: 20px; /* Padding inside the boxes */
    border-radius: 5px; /* Rounded corners */
    min-height: 100px; /* Minimum height */
    text-align: center; /* Center align text */
}
