.opinion-box {
  
    border: 2px solid #006400; /* Dark green border */
    margin-bottom: 20px; /* Bottom margin for spacing */
    padding: 20px; /* Padding inside the boxes */
    border-radius: 5px; /* Rounded corners */
    min-height: 150px; /* Minimum height for consistent box size */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Center-align text */
    position: relative; /* Position for icon */
  }
  
  .opinion-box::before {
    content: "👤"; /* Unicode for person icon */
    font-size: 24px; /* Icon size */
    position: absolute; /* Position the icon */
    top: 10px; /* Adjust top position */
    left: 10px; /* Adjust left position */
  }
  
  .section-overlay {
    background: rgba(255, 255, 255, 0.8); /* Semi-transparente */
    padding: 2rem;
    border-radius: 10px;
  }
  